@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100&display=swap');


@layer components {
  .btn-main {
    @apply p-2 bg-sky-300 rounded-lg hover:bg-sky-500 hover:text-white w-24 hover:cursor-pointer;
  }
}


