<nav class="flex justify-between bg-gradient-to-r from-cyan-500 to-blue-500 p-4 font-bold text-2xl">
  <div>
    <%= button_to "Flight Booker", root_path, method: :get, class: "bg-gray-100 rounded-lg p-4 hover:bg-gray-200 hover:text-gray-600" %>
  </div>
  <p class="px-6 my-auto text-lg text-white">by <a href="https://github.com/Rattlehead90" class="group animate-pulse hover:animate-none underline hover:text-white hover:ml-8 hover:no-underline hover:bg-indigo-400 hover:p-2 hover:m-1 hover:rounded-lg transition-all decoration-sky-500 ">Rattlehead90 <span class="absolute ml-[-9.7rem] group-hover:scale-100 scale-0 transition-all mt-1"><%= image_tag "github.png", style: 'width: 20px;filter: brightness(0) invert(1);' %></span> </a></p>
</nav>
