<nav class="bg-gradient-to-r from-cyan-500 to-blue-500 p-4 font-extrabold text-2xl">
  <%= button_to "Flight Booker", root_path, class: "bg-gray-100 rounded-lg p-4 hover:bg-gray-200 hover:text-gray-600" %>
</nav>